@model IEnumerable<ECivisObj.Models.ContactDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.IdemailsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdphoneNumbersNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdsocialNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdemailsNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdphoneNumbersNavigation.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdsocialNavigation.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
